.popup__submit-btn_inactive {
    color: #000;
    border: 1px solid #000000;
    background-color: transparent;
    opacity: 0.2;
    pointer-events: none;
}

.popup__submit-btn_inactive:hover {
    background-color: unset;
}