.header {
    padding: 45px 0 37px 0;
    margin: 0 0 40px 0;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media (max-width: 600px) {
    .header {
        padding: 28px 0 27px 0;
        margin: 0 -19px 42px -19px;
    }
}